{{!-- {{#each blogs as |blog|}}
<div>
    <h2>{{title}}</h2>
    <p>{{content}}}}</p>
</div>
{{/each}} --}}

{{#each blogs as |blog| }}
<div>
  <div>
    <a href="/blogs/{{id}}"><h2>{{blog.title}}</h2></a>
    <p>Author: {{blog_author.username}}</p>
    <p>Created: {{format_date blog.date_created}}</p>
  </div>
</div>
{{/each}}