<section class="text-center">
  <div class="mt-4">
    <h3>{{singleBlogData.title}}</h3>
    <p>
      Posted on: {{format_date singleBlogData.date_created}}
    </p>
    <div class="row">
      <div class="col-2"></div>
      <div class="text-center mt-3 py-3 col-8" style="border: solid 0.5px rgb(255, 153, 0);">
        <p>{{singleBlogData.content}}</p>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="mt-4">
    <button class="btn btn-info" style="background-color: rgba(104, 55, 182, 0.817); border: rgba(104, 55, 182, 0.817);"><a href="/blogs/admin/edit/{{singleBlogData.id}}" style="color: white">Edit</a></button>
    <button class="btn btn-danger" id="delete-post" value={{singleBlogData.id}} style="background-color: rgb(255, 153, 0); border: rgb(255, 153, 0);">Delete</button>
  </div>
</section>
<section>
  {{> comments-admin}}
</section>

<script src="/js/deleteBlog.js"></script>
<script src="/js/deleteComment.js"></script>