<h2>{{singleBlogData.title}}</h2>
<p>Posted on: {{format_date singleBlogData.date_created}}</p>

<div>
  <p>{{singleBlogData.content}}</p>
  <p>{{singleBlogData.id}}</p>
</div>

<a href="/blogs/admin/edit/{{singleBlogData.id}}">Edit</a>
<button href="/delete-blog">Delete</button>